<p id="notice"><%= notice %></p>

<h1>My tweets</h1>

<div class = "container">

    <% @tweets.each do |tweet| %>   

      <div class="media my-5">
        <img src="<%= tweet.picture %> " class="mr-3" style="width: 5rem;" alt="perfil_picture">
        <div class="media-body">

          <%= link_to tweet.created_at.strftime("Created the %d/%m/%Y at %l:%M %p") ,  tweet, class: 'bg-white' %>


          <p class = "mt-2"> <% tweet.content.split(' ').each do |word| %>
              <% if word.start_with?('#') %>
                <%= link_to word, home_index_path(q: word) %>
              <%else %>
                <%= word %>
              <%end %>
            <% end %>  </p>

          <p><%= link_to 'Show', tweet, class: "mx-1" %> <%= link_to 'Edit', edit_tweet_path(tweet), class: "mx-1" %> <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } , class: "mx-1"%></p>
        </div>
      </div>

        <% end %>      
</div>

<%= link_to 'back', root_path %>

<%= paginate @tweets %> 