<p id="notice"><%= notice %></p>

<img src="<%= @tweet.picture %> " class="my-3" style="width: 5rem;" alt="perfil_picture">


<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <strong>Retweets:</strong>
  <%= @tweet.retweets %>
</p>

<p>
  <strong>User:</strong>
  <%= @tweet.user.nick_name %>
</p>

<h2> Likes of the tweet</h2>

<% @likes.each do |like| %>  

    <div class="media my-4">
      <img src="<%= like.user.profile_picture %> " class="mr-3" style="width: 5rem;" alt="perfil_picture">
      <%= like.user.nick_name %>
      
    </div>

<% end %>


