<% @tweets.each do |tweet| %>

<div class="media my-4">
  <img src="<%= tweet.picture %> " class="mr-3" style="width: 5rem;" alt="perfil_picture">
  <div class="media-body">
    <%= link_to tweet.created_at.strftime("%C/%B/%A") ,  user_session_path, class: 'bg-white' %>
    <p><%= tweet.content %> </p>

    <% if user_signed_in? %>
    
        <% if tweet.likes.find_by(user_id: current_user.id).nil? %>
          <%= link_to " ",  likes_create_path(id_tweet: tweet.id ), class: "far fa-heart" , method: :post%>
        

        <% else %>

          <i class="fas fa-heart"></i> 
          <i class="fas fa-retweet"></i> 

        <% end %>
    <% else %>
        <%= link_to " ",  user_session_path, class: "far fa-heart" %>
        <%= link_to " ",  user_session_path, class: "fas fa-retweet" %>
    <% end %>
  </div>
</div>

  <% end %>
  
<%= will_paginate @tweets %>

