<div class = "container">
  
        <%= form_tag home_index_path, class: 'mb-5', method: :get do %>
            <%= text_field_tag :q, nil, placeholder: 'Find for your tweet ', class: ' my-2 my-sm-0'%>
            <%= submit_tag "Search", class: ' my-2 my-sm-0' %>
        <% end %>
    
    <% if user_signed_in? %>

      <h2 class = "mb-4">New Tweet</h2>

      <%= render 'shared/form', tweet: @tweet,class: "mb-5" %>

    <% end %>

    <% @tweets.each do |tweet| %>   

    <div class="media my-5">
      <img src="<%= tweet.picture %> " class="mr-3" style="width: 5rem;" alt="perfil_picture">
      <div class="media-body">

        <%= link_to tweet.created_at.strftime("Created the %d/%m/%Y at %l:%M %p") ,  tweet, class: 'bg-white' %>


        <p class = "mt-2">   <% tweet.content.split(' ').each do |word| %>
            <% if word.start_with?('#') %>
              <%= link_to word, home_index_path(q: word) %>
            <%else %>
              <%= word %>
            <%end %>
          <% end %>  </p>

        
        <% if user_signed_in? %>
        
            <% if tweet.likes.find_by(user_id: current_user.id).nil? %>
            
              <%= link_to " ",  likes_create_path(id_tweet: tweet.id ), class: "far fa-heart" , method: :post%> <%= tweet.cantidad %>      
              <%= link_to " ",  retweet_create_path(id_tweet: tweet.id ), class: "fas fa-retweet mx-1", method: :post %> <%= tweet.retweets %> 
              <% if tweet.retweet_id != 0 %>
                <%= link_to 'Retwiteado de',  tweet_path(tweet.retweet_id), class: 'bg-white' %>
              <% end %>
              
            <% else %>

              <i class="fas fa-heart"></i> <%= tweet.cantidad %>   
              <%= link_to " ",  retweet_create_path(id_tweet: tweet.id ), class: "fas fa-retweet", method: :post %> <%= tweet.retweets %> 
              <% if tweet.retweet_id != 0 %>
                <%= link_to 'Retwiteado de',  tweet_path(tweet.retweet_id), class: 'bg-white' %>
              <% end %>

            <% end %>
        <% else %>
            <%= link_to " ",  user_session_path, class: "far fa-heart" %>
            <%= link_to " ",  user_session_path, class: "fas fa-retweet" %>
        <% end %>
      </div>
    </div>

      <% end %>

      

    <%= paginate @tweets %>     
    
</div>





